@use "base";

/* Card */

.card {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  flex-direction: column;
  padding: 3.2rem;

  &__title {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--very-light-gray);
    margin: 2.25rem 0;
  }

  &__text {
    flex: 1;
    color: var(--transparent-white);
    margin: 0 0 3.2rem 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }

  &__link-button {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    width: 15rem;
    text-decoration: none;
    padding: 1rem;
    border: 2px solid var(--very-light-gray);
    border-radius: 25px;
    background-color: var(--very-light-gray);
    margin-top: auto;

    &:hover {
      transition: 0.3s;
    }
  }

  /* Background colours of the cards, link button colours and its media queries */
  &#sedans {
    background-color: var(--bright-orange);
    a {
      color: var(--bright-orange);
      &:hover {
        background-color: var(--bright-orange);
        color: var(--very-light-gray);
      }
    }

    @media only screen and (max-width: base.$bp-1-col-max) {
      border-radius: 10px 10px 0px 0px;
    }

    @media only screen and (min-width:base.$bp-2-col-min) and (max-width: base.$bp-2-col-max) {
      border-radius: 10px 0px 0px 0px;
    }

    @media only screen and (min-width: base.$bp-3-col-min) {
      border-radius: 10px 0px 0px 10px;
    }
  }

  &#suvs {
    background-color: var(--dark-cyan);
    a {
      color: var(--dark-cyan);

      &:hover {
        background-color: var(--dark-cyan);
        color: var(--very-light-gray);
      }
    }

    @media only screen and (max-width: base.$bp-1-col-max) {
      border-radius: 0px;
    }

    @media only screen and (min-width: base.$bp-2-col-min) and (max-width: base.$bp-2-col-max) {
      border-radius: 0px 10px 0px 0px;
    }

    @media only screen and (min-width: base.$bp-3-col-min) {
       border-radius: 0px;
    }
  }

  &#luxury {
    background-color: var(--very-dark-cyan);
    a {
      color: var(--very-dark-cyan);

      &:hover {
        background-color: var(--very-dark-cyan);
        color: var(--very-light-gray);
      }
    }

    @media only screen and (max-width: base.$bp-1-col-max) {
      border-radius: 0px 0px 10px 10px;
    }

    @media only screen and (min-width: base.$bp-2-col-min) and (max-width: base.$bp-2-col-max) {
      border-radius: 0px 0px 10px 10px;
    }

    @media only screen and (min-width: base.$bp-3-col-min) {
      border-radius: 0px 10px 10px 0px;
    }

  }
}


/* All rounded corners of the cards on the separate pages of sedans, suvs and luxury */

.all-border-radius {
  &#sedans,
  &#suvs,
  &#luxury {
    border-radius: 10px;
  }
}
